<mat-toolbar>
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Car sharing</span>
    <button mat-button [routerLink]="'/board'">Reservation</button>
    <button mat-button [routerLink]="'/member'">Member</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item>TEST</a>
      <a mat-list-item>TEST</a>
      <a mat-list-item>TEST</a>
      <a mat-list-item>TEST</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container> -->
