.login_btn {
  margin-bottom: 15px;
}

.text_mute {
  color: #6c757d;
  font-size: 12px;
}

.wrapper a {
  color: #000;
  font-weight: 600;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

// @-webkit-keyframes AnimationName {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @-moz-keyframes AnimationName {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @-o-keyframes AnimationName {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }
// @keyframes AnimationName {
//     0%{background-position:0% 50%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 50%}
// }

// .wrapper {
//   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//   background-size: 400% 400%;
//   animation: AnimationName 15s ease infinite;
//   width: 100%;
//   height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//   top: 35%;
//   text-align: center;
// }
