<div class="car_add">
  <div class="car_header">
    <button mat-raised-button aria-label="cancel" class="cancel_btn" (click)="cancel()">
      <mat-icon>close</mat-icon> 취소
    </button>
    <button mat-raised-button aria-label="submit" (click)="submit()">
      <mat-icon>check</mat-icon> 등록
    </button>
  </div>
  <div class="car_add_form">
    <form [formGroup]="form">
      <div>
        <div class="car_img">
          <app-upload-image (imgFile)="onImgUpload($event)"></app-upload-image>
        </div>
      </div>
      <div>
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="차량 모델"
              formControlName="model"
            />
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="차량 번호"
              formControlName="number"
            />
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="주차 위치"
              formControlName="parking"
            />
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field>
            <mat-label>유류</mat-label>
            <mat-select formControlName="engine">
              <mat-option *ngFor="let fuel of fuelList;" [value]="fuel.value">
                {{ fuel.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="연료량(km)"
              formControlName="quantity"
            />
          </mat-form-field>
        </p>
    </div>
    
  </form>

  <!-- 되돌아가는 링크 필요 -->
  <!-- <div class="button">
    <button type="button" mat-button [routerLink]="'/board'">Cancel</button>
    <button type="submit" mat-button [routerLink]="'/board'">Join</button>
  </div> -->
  </div>
</div>
