.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.car_add {
  height: calc(100vh - 128px);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .board_header {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 30px 10px 10px;
  }

  .car_add_form {
    display: flex;
    height: calc(100vh - 128px);
    align-items: center;
  }
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
