<div class="board_wrapper">
  <ng-container *ngIf="!newCar;">
    <div class="board_header">
      <h2>차량 리스트</h2>
      <div class="board_btn">
        <button mat-raised-button aria-label="car add" (click)="addCar($event)">
          <mat-icon>add</mat-icon> 차량 등록
        </button>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="newCar; else carList">
    <app-board-form (addCar)="addCar($event)" (cancelAdd)="cancel()"></app-board-form>
  </ng-container>
  <ng-template #carList>
    <div class="board_list" >
      <mat-grid-list cols="3" rowHeight="2:1" gutterSize="50px">
        <mat-grid-tile> 1 </mat-grid-tile>
        <mat-grid-tile> 2 </mat-grid-tile>
        <mat-grid-tile> 3 </mat-grid-tile>
      </mat-grid-list>
    </div>
  </ng-template>
  
</div>
